include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include solar_theme/theme.conf
include solar_theme/static/subtle_dots.png
recursive-include solar_theme *.html
recursive-include solar_theme/static/ *.css
